@import url('https://fonts.googleapis.com/css?family=Numans');

.bg-home{
background-image: url('/assets/main-fondo.jpg');
background-size: cover;
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
height: 100vh;
align-content: center;
}

.h-cuerpo{
  height: calc(100vh - 40px);
  padding-top: 20px;
  position: relative;
}

.h-cuerpo .row{
  background-color: #f8f9fa;
  position: relative;
}

.h-cuerpo-top {
  height: 135px;

}

.h-cuerpo-bottom {
  /*position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;*/
  height: calc(100% - 135px);
  overflow: auto;
}

.productos{
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.h-cuerpo-bottom button{
  padding: 0px 12px;
}

.mh-105{
  max-height: 105px;
  margin: 0 auto;
}
/***table***/
.table tr{
  border-bottom: 3px solid #c1c1c1;
}
.tabla th {
  display: none;
  padding: 10px;
  color: white;
  text-align: center;
  vertical-align: middle;
  color: white;
  /*font-family: "open_sansbold";*/
  font-size: 13px;
  text-transform: uppercase;
}
.tabla td {
  display: block;
  padding: 10px 10px 5px 10px;
  /*text-align: right;*/
  vertical-align: middle;
  background: white;
}
.tabla td:before {
  color: #9e9e9e;
  content: attr(data-encabezado);
  width: 100%;
  display: inline-block;
  text-align: left;
  /*font-family: "open_sansregular";*/
  font-size: 13px;
}
@media only screen and (min-width: 830px){
  .tabla th {
    display: table-cell;
    background: #c1c1c1;
  }
  .table tr{
    border-bottom: initial;
  }
  .tabla td {
      display: table-cell;
      /*text-align: center;*/
      padding: 10px;
  }
  .tabla td:before {
    display: none;
  }
}
